@Model string
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="bg-danger">
    <div class ="card-header">
        heelpp
    </div>
    <div class="card-body">
        <h5 class="card-title">
             <p>@Model</p>
        </h5>
    </div>
</div>