@page
@model Razor8_EFPaging.Pages.ArticleModel
@using Razor8_EFPaging.Models
@{
  ViewData["Title"] = "Trang báo";
  var post = ViewData["posts"] as List<Article>;
}

@foreach (var item in post)
{
  <p class="alert alert-warning">@item.Id ------- @item.Title</p>
  <hr>
}
